<!DOCTYPE html>
<html>
<head>
  <title>ProjectTracker</title>

  <link media="all" rel="stylesheet" type="text/css" href="extjs/resources/css/ext-all-debug.css" />
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <script type="text/javascript" src="extjs/ext-all.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
